<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= store.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= store.user_id %>
  </p>

</div>
